<div class="container-fluid" style="min-height: 100vh;">
  <div class="row mt-0">
    <div class="col-12 col-xl-10 order-2 order-xl-1 p-0">
      <div class="row justify-content-end px-4">
        <div class="col-12 mt-4 px-2">
          <h3 class="text-right">سبد خرید</h3>
          <p dir="rtl" class="text-right mt-3" *ngIf="Cartservice.cartData.length == 0">سبد خرید شما خالی می باشد.</p>
          <table *ngIf="Cartservice.cartData.length > 0" class="table table-striped text-right mt-3" dir="rtl">
            <thead>
            <tr>
              <th style="width:40px">#</th>
              <th style="width:250px">نام کالا</th>
              <th style="width:150px">قیمت</th>
              <th style="width:40px">تعداد</th>
              <th style="width:40px">حذف</th>
              <th>جمع کل</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of Cartservice.cartData;let i = index" [attr.data-index]="i">
              <th>{{i+1}}</th>
              <td>{{item.title}}</td>
              <td>{{item.price | currency:'usd':'':'4.0'}} تومان</td>
              <td><input (input)="updateCart()" style="width:40px" class="text-center" [(ngModel)]="item.number" type="number" value="{{item.number}}"></td>
              <td><button class="btn btn-danger btn-sm py-0 px-1" (click)="Cartservice.cartData.splice(i, 1);updateCart()"><i class="fa fa-close"></i></button></td>
              <td>{{item.number*item.price | currency:'usd':'':'4.0'}} تومان</td>
            </tr>
            <tr>
              <th></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{Cartservice.calcTotal() | currency:'usd':'':'4.0'}} تومان</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-12">
          <app-order-form *ngIf="Cartservice.cartData.length > 0"></app-order-form>
        </div>
        <button (click)="submitOrder()" *ngIf="Cartservice.cartData.length > 0" class="btn btn-success mr-3">ثبت سفارش</button>
      </div>
    </div>
    <app-sidebar  class="col-12 bg-light col-xl-2 mb-3 mb-xl-0 p-0 order-1 order-xl-2 sidebar"></app-sidebar>
    <app-messages *ngIf="msgloader.showMsg"></app-messages>
  </div>
</div>
