<form>
  <div class="mt-3" dir="rtl">
    <h4 class="text-right mb-3">تکمیل اطلاعات</h4>
    <mat-form-field class="w-50 pl-5">
      <input matInput placeholder="نام">
    </mat-form-field>
    <mat-form-field class="w-50">
      <input matInput placeholder="نام خانوادگی">
    </mat-form-field>
    <mat-form-field class="w-50 pl-5">
      <input matInput placeholder="آدرس">
    </mat-form-field>
    <mat-form-field class="w-50">
      <input matInput placeholder="کد پستی">
    </mat-form-field>
    <mat-form-field class="w-50 pl-5">
      <input matInput placeholder="تلفن">
    </mat-form-field>
    <mat-form-field class="w-50">
      <input matInput placeholder="ایمیل">
    </mat-form-field>
    <mat-form-field class="w-100">
      <input matInput placeholder="توضیحات">
    </mat-form-field>
  </div>
</form>
